<!DOCTYPE html>
{% load static %}

<head>
    <title>
        Recorder v2.2
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="{% static 'sr.js'%}"></script>
</head>

<body>
    <div class="container mt-3">
        <span><a id="download" style="display: none;"><button type="button" class="btn btn-primary mb-4">
                    Download</button></a></span>
        <button type="button" class="btn btn-danger" id="stop" disabled>End Exam</button>
        <button type="button" onclick="recordScreen()" class="btn btn-info">Record Screen</button>
        <div class="p-5">
            <video autoplay height='480' width="640" muted></video>
        </div>
    </div>
</body>

</html>